@import '../../node_modules/modern-normalize/modern-normalize.css';
@import './fonts/fonts';
@import './light_theme';
@import './dark_theme';
@import './partials_style/partial_styles';
@import './partials_style/./footer.scss';

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: 'DMSans', serif;
  color: var(--text-color);
  background-color: var(--page-bg);
  overflow-x: hidden;
}

img {
  display: block;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
