// додав основні стилі але тут треба доробити !!!!!!!!!!!!!!!!

.home {
  padding-top: 20px;
}

.home__categories-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 470px;
  width: 356px;
  overflow-y: scroll;
}

.home__categories-list::-webkit-scrollbar {
  width: 8px;
  height: 167px;
}

.home__categories-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.home__categories-list::-webkit-scrollbar-thumb {
  background-color: var(--all-categories-scroll-color);
  border-radius: 15px;
}

.home__categories-item {
  color: var(--all-categories-text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  cursor: pointer;
  transition: color 0.3s;
}

.home__categories-item:hover {
  color: var(--all-categories-active);
}

.home__categories-item-active {
  color: var(--all-categories-active);
  font-weight: 700;
  text-transform: uppercase;
}

.home__wrapper {
  display: flex;
}

.home__wrap {
  max-width: 356px;
}

/* ******ALL BOOKS******** */

.home__books {
  padding-left: 40px;
}

.home__books-all-wrapper {
  margin-bottom: 40px;
}

.home__books-all-items {
  display: flex;
  gap: 24px;
}
