
li {
    list-style: none; 
}

a {
    text-decoration: none;
}

.burger-menu-signup-btn {
    margin-bottom: 130px;
}

.burger-menu-nav-item-home {
    margin-bottom: 15px;
}

.burger-menu-signup-btn {
    min-width: 184px;
    cursor: pointer;
    background: #4f2ee8;
    border: 1.5px solid #111;
    border-radius: 18px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    padding: 13px 14px;
    display: flex;
}

.burger-menu-signup-btn-text {
    letter-spacing: -.04em;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28571;
}

.burger-menu-container {
    width: 100%;
    height: 100%;
    z-index: 20;
    // opacity: 0;
    // visibility: hidden;
    // pointer-events: none;
    transition: opacity var(--animation), transform var(--animation);
    background: linear-gradient(#4f2ee8 0%, #fff 130%);
    position: fixed;
    top: 0;
    left: 0;
    // transform: translateY(-100%);
}

.is-hidden {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
}

.burger-menu-nav {
    justify-content: center;
    margin-top: 126px;
    display: flex;
}

.burger-menu-nav-item-home {
    background-color: #eac645;
    border-radius: 36px;
    padding: 8px 16px;
    margin-bottom: 15px;
}

.burger-menu-nav-link-home {
    letter-spacing: -.04em;
    text-transform: uppercase;
    color: #111;
    align-items: center;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28;
    display: flex;
}

.burger-menu-nav-item {
    padding: 8px 16px;
}

.burger-menu-nav-link-sl {
    letter-spacing: -.04em;
    text-transform: uppercase;
    color: #FFFFFF; 
    align-items: center;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28;
    display: flex;
}