.header {
  z-index: 1;
  height: 64px;
  background-color: #fff;
  border: 1.5px solid #111;
  border-radius: 0 0 8px 8px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s, border 0.2s;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 375px) {
  .header {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    width: 768px;
    height: 72px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    width: 1440px;
  }
}

.page-logo-last {
  fill: #000;
  transition: fill 200ms;
}

.header-logo {
  display: flex;
  align-items: center;
  height: 28px;
  gap: 8px;
  margin-right: 93px;
}

.header-nav {
  display: flex;
  align-items: center;
}
