* {
  box-sizing: border-box;
}

.theme-switch__input:checked ~ main,
.theme-switch__input:checked ~ label {
  --text: white;
}

.theme-switch__input:checked ~ main {
  --gradDark: hsl(198, 44%, 11%);
  --gradLight: hsl(198, 39%, 29%);
}

/* Toggle switch */
.theme-switch__input {
  opacity: 0;
}

.theme-switch__label {
  position: relative;
}

.theme-switch__input {
  width: 40px;
  position: absolute;
  z-index: 1;
}

.theme-switch__label {
  width: 40px;
  height: 20px;
  border-radius: 50px;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 200ms ease-in-out;
}

.theme-switch__label::before,
.theme-switch__label::after {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  transform: translate3d(0, -50%, 0);
}

span {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 0;
  width: 100%;
}

span::after {
  content: '';
  position: absolute;
  top: calc(100% + 11px);
  left: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  transform: translate(0px);
  transition: transform 200ms, background-color 200ms;
}

/* Checked label styles */
.theme-switch__input:checked ~ .theme-switch__label {
  background-color: lightSlateGray;
}

.theme-switch__input:checked ~ .theme-switch__label::after {
  color: turquoise;
}

.theme-switch__input:checked ~ .theme-switch__label span::after {
  transform: translate(20px, 0);
}

.header {
  //position: fixed;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  height: 64px;
  border: 1.5px solid var(--header-border-color);
  border-radius: 0 0 8px 8px;
  background-color: var(--header-bg);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s, border 0.2s;
}

.theme-sign-up {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.header-nav {
  width: inherit;
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: var(--text-color);
}

.list {
  list-style: none;
}

.header-logo {
  fill: var(--text-color);
  height: 28px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 375px) {
  .header {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
    height: 72px;
    //display: block;
  }

  .header-nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
    text-transform: uppercase;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .header-nav-link-icon {
    fill: var(--icons-color);
  }

  .page-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .page-nav-item {
    height: 20px;
  }

  .right-header-part {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  /*.header-nav-wrapper {
    flex-grow: 1;
    justify-content: space-between;
    display: flex;
    position: relative;
  }*/
}

@media screen and (min-width: 1440px) {
  .header {
    width: 1440px;
  }

  .header-logo {
    margin-right: 76px;
  }

  .page-nav-list {
    gap: 24px;
  }
}
