a {
  text-decoration: none;
}

.tui-wrapper {
  padding-top: 20px;
  margin-bottom: 40px;
}

.tui-pagination {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tui-page-btn {
  width: 38px;
  height: 38px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--pagination-border);
  margin-right: 8px;
  border-radius: 50%;
  color: var(--pagination-text);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.22; /* 122.222% */
}

.tui-last-child {
  margin-right: 14px;
}

.tui-first {
  margin-right: 5px;
}

.tui-prev {
  margin-right: 24px;
}

.tui-first,
.tui-prev {
  border: none;
  background-color: var(--pagination-left-bg);
}

.tui-next,
.tui-last {
  background-color: var(--pagination-rigth-arrow);
  background-color: var(--pagination-rigth-bg);
}

.tui-is-selected {
  background-color: var(--pagination-active);
  color: var(--pagination-active-text);
}

@media screen and (min-width: 768px) {
  .tui-page-btn {
    width: 44px;
    height: 44px;
  }

  .tui-last-child {
    margin-right: 24px;
  }
}
