.footer {
    padding: 40px 0;
    letter-spacing: 0.02em;
}

.footer-team {
    padding: 40px 40px;
    background-color:var(--footer-team);
    display: flex;
    justify-content: space-between;
}

.logo-link {
    height: 46px;
    color: var(--footer-text-logo);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-btn {
    padding: 10px 15px;
    font-weight: 700;
    min-width: 124px;
    height: 46px;
    cursor: pointer;
    background-color: var(--footer-team);
    border-radius: 40px;
    border-color: var(--border);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: var(--footer-copyright);
    color: var(--footer-text);
}

.heart-icon {
    transition: transform 0.3s;
}

.heart-icon.moving {
    animation: pulseHeart 1s infinite;
}

@keyframes pulseHeart {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}


.copyright {
    padding: 16px 15px;
    padding: 40px;
    background-color: var(--footer-copyright);
    color: var(--footer-text);
    display: flex;
    justify-content: space-between;

}

.footer-text {
    max-width: 146px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
}

.footer-link {
    max-width: 146px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: var(--footer-text);
}

.footer-link:hover,
.footer-link:focus {
    text-decoration: underline;
}

.footer-year {
    font-weight: 700;
}