.footer {
    padding: 40px 0;
    letter-spacing: 0.02em;
}
.footer-content {
    margin: auto;
}

.footer-team {
    padding: 40px 74px;
    background-color:#D9D9D9;
    display: flex;
    flex-direction: column;
}

.logo-link {
    margin-bottom: 40px;
    // height: 46px;
    // color: #000000;
    display: flex;
    gap: 10px;
    // flex-wrap: wrap;
    // gap: 20px;
}

.footer-btn {
    padding: 13px 27px;
    // padding: 10px 15px;
    font-weight: 700;
    // min-width: 124px;
    // height: 46px;
    cursor: pointer;
    background-color: #D9D9D9;
    border-radius: 40px;
    border-color: #4f2ee8;
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
    // gap: 10px;
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #4f2ee8;
    color: #FFF;
}

.heart-icon {
    transition: transform 0.3s;
}

.heart-icon.moving {
    animation: pulseHeart 1s infinite;
}

@keyframes pulseHeart {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}


.copyright {
    padding: 40px;
    background-color: #4f2ee8;
    color: #FFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;


}

.footer-text {
    max-width: 146px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
}

.footer-link {
    max-width: 146px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: var(--footer-text);
}

.footer-link:hover,
.footer-link:focus {
    text-decoration: underline;
}

.footer-year {
    font-weight: 700;
}

/* -----------------------MEDIA-MOBILE------------------------- */
@media screen and (min-width: 768px) {
    .footer-team {
        padding: 40px;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-link {
        align-items: center;
        margin: 0;
        gap: 5px;
    }

    .copyright{
        padding: 20px 40px;
        flex-direction: row;
        justify-content: space-between;
    }
    }


/* --------------------------MEDIA-DESKTOP------------------------- */
@media screen and (min-width: 1200px) {
    .footer-team {
        padding: 20px 40px;
    }
}





/* --------------------------MODAL-TEAM------------------------- */
.team-modal {
    width: 300px;
    height: 726px;
    border: 2px solid var(--sign-up-border-color);
    background: var(--sign-up-bg);
    border-radius: 18px;
    padding: 30px 30px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.modal-wrapper {
    background-color: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
}
.team-name {
    max-width: 88px;
    position: fixed;
    font-weight: 700;
    font-size: 32px;
    color: #111;

}

.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #D9D9D9;;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1), fill 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.our-team-container {
    width: 166px;
    margin: auto;
}
.team-list {
    margin-top: 95px;
    width: 100%;
    display: flex;
    flex-direction: column;
    // flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    // gap: 25px;
}

.team-item {
    width: 200px;
    padding: 20px;
    // width: calc((100% - 40px) / 6);
    background-color: #D9D9D9;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.team-img {
    margin-bottom: 20px;
}

.team-discription {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-developer {
    max-width: 140px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #000;
    margin-bottom: 8px;
    text-align: center;
}

.team-prof {
    font-weight: 700;
    font-size: 16px;
    color: #000;
    margin-bottom: 45px;
}

.team-social {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* -----------------------MEDIA-MOBILE------------------------- */
@media screen and (min-width: 768px) {
    .team-modal{
        width: 704px;
        height: 497px;
    }

    .our-team-container {
        width: 530px;
        margin: auto;

    }

    .team-item {
        width: 167px;
    }

    .team-list {
        flex-direction: row;
        gap: 30px;
    }

    .team-item {
            width: calc((100% - 10px) / 4);
    }
}

/* --------------------------MEDIA-DESKTOP------------------------- */
@media screen and (min-width: 1440px) {
    .team-modal {
        height: 889px;
        width: 1350px;
    }

    .our-team-container {
        width: 1315px;
    }
    .team-list {
        gap: 25px;
    }
    
    .team-item {
        width: calc((100% - 20px) / 6);
    }
}