<section class="home">
  <div class="container home__wrapper">
    <div class="home__wrap">
      <div class="home__categories">
        <ul class="home__categories-list js-categories-list">
          <li
            class="home__categories-item js-all-categories home__categories-item-active"
          >
            All categories
          </li>
        </ul>
      </div>
      <div class="home__support">
        <include src="./partials/support_Ukraine.html"></include>
      </div>
    </div>
    <div class="home__books">
      <h2 class="home__books-title js-books-title">Best Sellers Books</h2>
      <ul class="home__books-items js-books-wrapper"></ul>
    </div>
  </div>
  <button
    aria-label="Scroll up"
    class="js-scroll-up js-scroll-up-hidden"
    type="button"
  >
    Scroll up
    <svg class="scroll-up-arrow">
      <use href="/src/images/sprite.svg#scroll-up-arrow"></use>
    </svg>
  </button>
</section>
