<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <link rel="stylesheet" href="./sass/partials_style/_burger_menu.scss">
</head>

<body>
    <header></header>
    <main>
        <div class="burger-menu-container">
            <button class="burger-menu-signup-btn" type="button" data-model-open-aria-label="sign in">
                <span class="burger-menu-signup-btn-text">Sign up</span>
                <!-- <svg class="burger-menu-signup-btn-svg" width="20" height="20">
                    <use href=""></use>
                </svg> -->
            </button>
            <nav class="burger-menu-nav">
                <ul class="burger-menu-nav-ul">
                    <li class="burger-menu-nav-item-home">
                        <a href="#" class="burger-menu-nav-link-home">HOME</a>
                        <!-- посилання на головний сайт -->
                    </li>
                    <li class="burger-menu-nav-item">
                        <a href="#" class="burger-menu-nav-link-sl">
                            <!-- посилання на шопінг ліст -->
                            SHOPPING LIST
                            <!-- <svg class="burger-menu-nav-svg-sl">
                                <use href="#"></use>
                            </svg> -->
                        </a>
                    </li>
                </ul>
            </nav>
            <button class="burger-menu-btn-logout" type="button" data-model-open-aria-label="sign in">
                <span class="burger-menu-btn-logout-text">Log out</span>
                <!-- <svg class="burger-menu-btn-logout-svg" width="" height="">
                    <use href="#"></use>
                </svg> -->
            </button>
        </div>
    </main>
    <script src="./js/burger__menu.js"></script>
</body>
<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <link rel="stylesheet" href="./sass/partials_style/_burger_menu.scss">
</head>

<body>
    <header></header>
    <main>
        <div class="burger-menu-container">
            <button 
            class="burger-menu-signup-btn"
            type="button"
            data-model-open-aria-label="sign in">
                <span class="burger-menu-signup-btn-text">Sign up</span>
                <!-- <svg class="burger-menu-signup-btn-svg" width="20" height="20">
                    <use href=""></use>
                </svg> -->
            </button>
            <nav class="burger-menu-nav">
                <ul class="burger-menu-nav-ul">
                    <li class="burger-menu-nav-item-home">
                        <a href="#" class="burger-menu-nav-link-home">HOME</a> 
                        <!-- посилання на головний сайт -->
                    </li>
                    <li class="burger-menu-nav-item">
                        <a href="#" class="burger-menu-nav-link-sl">
                            <!-- посилання на шопінг ліст -->
                            SHOPPING LIST
                            <!-- <svg class="burger-menu-nav-svg-sl">
                                <use href="#"></use>
                            </svg> -->
                        </a>
                    </li>
                </ul>
            </nav>
            <button 
            class="burger-menu-btn-logout"
            type="button"
            data-model-open-aria-label="sign in"
            >
                <span class="burger-menu-btn-logout-text">Log out</span>
                <!-- <svg class="burger-menu-btn-logout-svg" width="" height="">
                    <use href="#"></use>
                </svg> -->
            </button>
        </div>
    </main>
    <script src="./js/burger__menu.js"></script>
</body>

</html>