<div class="burger-menu-container burger-hidden">
  <div class="user logged-user-hidden">
    <div class="logged-user-wrapper">
      <svg class="logged-user-icon">
        <use href="./images/sprite.svg#user-icon"></use>
      </svg>
    </div>
    <span class="burger-user-name">Oleksii</span>
  </div>
  <button class="burger-menu-signup-btn" type="button" data-modal-burger-open>
    <span class="burger-menu-signup-btn-text">Sign up</span>
    <svg class="burger-menu-signup-btn-svg" width="20" height="20">
      <use href="./images/sprite.svg#arrow-right-login"></use>
    </svg>
  </button>
  <nav class="burger-menu-nav">
    <ul class="burger-menu-nav-ul">
      <li class="burger-menu-nav-item">
        <a
          href="./index.html"
          class="burger-menu-nav-link-sl burger-menu-nav-item-changed burger-home"
          >HOME</a
        >
        <!-- посилання на головний сайт -->
      </li>
      <li class="burger-menu-nav-item">
        <a
          href="./shopping_list.html"
          class="burger-menu-nav-link-sl burger-sl"
        >
          <!-- посилання на шопінг ліст -->
          SHOPPING LIST
          <svg class="burger-menu-nav-svg-sl" width="20" height="20">
            <use href="./images/sprite.svg#shopping-list-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
  <button class="burger-menu-btn-logout logged-user-hidden" type="button">
    <span class="burger-menu-btn-logout-text">Log out</span>
    <svg class="burger-menu-btn-logout-svg" width="20" height="20">
      <use href="./images/sprite.svg#arrow-right-login"></use>
    </svg>
  </button>
  <div class="burger-menu-nav-backgimage-container"></div>
</div>
