<footer class="footer">
    <div class="container">
        <div class="footer-team">
                <a class="logo-link" href="./index.html">
                    <svg width="46" height="46">
                        <use href="./images/sprite.svg#logo"></use>
                    </svg>
                    <svg width="193" height="34">
                        <use href="./images/sprite.svg#logo-text"></use>
                    </svg>
                    </a>
            
            <button class="footer-btn" type="submit">
                <svg class="app__icon" width="30" height="30">
                    <use href="./images/sprite.svg#icon-heart"></use>
                </svg> 
                TEAM
            </button>
        </div>
        <div class="copyright">
            <p class="footer_text">Project Web Team</p>
            <a class="footer_link" href="https://goit.ua/" target="_blank" rel="noreferrer noopener">&nbsp;GoIt Academy</a>
            <p class="footer_text">&nbsp;2023</p>
    </div>
</footer>