<footer class="footer">
    <div class="container footer-content ">
        <div class="footer-team">
                <a class="logo-link" href="./index.html">
                    <svg width="30" height="30">
                        <use href="./images/sprite.svg#logo"></use>
                    </svg>
                    <svg width="133" height="23">
                        <use href="./images/sprite.svg#logo-text"></use>
                    </svg>
                    </a>
            
            <button class="footer-btn js-modal-open" type="submit">
                <svg class="heart-icon" width="20" height="20">
                    <use href="./images/sprite.svg#icon-heart"></use>
                </svg> 
                TEAM
            </button>
        </div>
        <div class="copyright">
            <p class="footer_text">Project Web Team</p>
            <a class="footer-link" href="https://goit.ua/" target="_blank" rel="noreferrer noopener">&nbsp;GoIt Academy</a>
            <p class="footer-text footer-year">&nbsp;2023</p>
        </div>
<!--MODAL-WINDOW-->
<div class="backdrop is-hidden js-modal-team">
    <div class="team-modal">
        <h2 class="team-name">TEAM</h2>
        <div class="modal-wrapper">
            <button type="button" class="modal-close-btn js-modal-close">
                <svg class="modal-close-icon" width="15" height="15">
                    <use href="./images/sprite.svg#close-icon"></use>
                </svg>
            </button>
        </div>
<!-- Information-team -->
        <div class="our-team-container">
            <ul class="team-list">
<!-- first -->
                <li class="team-item">
                    <div class="team-img">
                        <img class="team__img team__img--first" srcset="./images/team/oleksii2.png 2x" src="./images/team/oleksii.png" alt="Oleksii" width="120" height="120" />
                    </div>
                    <div class="team-discription">
                        <h3 class="team-developer">Oleksii Aleksandrov</h3>
                        <p class="team-prof">Team Lead</p>
                        <ul class="team-social">
                            <li class="team-item-soc">
                                <a href="https://github.com/OhWellNevermind" target="_blank" rel="noreferrer noopener" aria-label="GitHub">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-git"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="team-item-soc">
                                <a href="https://www.linkedin.com/in/oleksii-aleksandrov-51230825b/" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-link"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
<!-- second -->
                <li class="team-item">
                    <div class="team-img">
                        <img class="team__img team__img--first" srcset="./images/team/vlad2.png 2x" src="./images/team/vlad.png" alt="Vladislav" width="120" height="120" />
                    </div>
                    <div class="team-discription">
                        <h3 class="team-developer">Vladislav</h3>
                        <p class="team-prof">Scrum Master</p>
                        <ul class="team-social">
                            <li class="team-item-soc">
                                <a href="https://github.com/VladM4526" target="_blank" rel="noreferrer noopener" aria-label="GitHub">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-git"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="team-item-soc">
                                <a href="https://www.linkedin.com" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-link"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
<!-- third -->
                <li class="team-item">
                    <div class="team-img">
                        <img class="team__img team__img--first" srcset="./images/team/yura2.png 2x" src="./images/team/yura.png" alt="Iurii" width="120" height="120" />
                    </div>
                    <div class="team-discription">
                        <h3 class="team-developer">Iurii Teslyak</h3>
                        <p class="team-prof">Developer</p>
                        <ul class="team-social">
                            <li class="team-item-soc">
                                <a href="https://github.com/Teslyak" target="_blank" rel="noreferrer noopener" aria-label="GitHub">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-git"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="team-item-soc">
                                <a href="https://www.linkedin.com/in/iurii-tesliak" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-link"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
<!-- fouth -->
                <li class="team-item">
                    <div class="team-img">
                        <img class="team__img team__img--first" srcset="./images/team/dmytro2.png 2x" src="./images/team/dmytro.png" alt="Dmytro" width="120" height="120" />
                    </div>
                    <div class="team-discription">
                        <h3 class="team-developer">Dmytro Chaban</h3>
                        <p class="team-prof">Developer</p>
                        <ul class="team-social">
                            <li class="team-item-soc">
                                <a href="https://github.com/chaban-dmytro" target="_blank" rel="noreferrer noopener" aria-label="GitHub">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-git"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="team-item-soc">
                                <a href="https://www.linkedin.com" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-link"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
<!-- fifth -->
                <li class="team-item">
                    <div class="team-img">
                        <img class="team__img team__img--first" srcset="./images/team/anastasiia2.png 2x" src="./images/team/anastasiia.png" alt="Anastasiia" width="120" height="120" />
                    </div>
                    <div class="team-discription">
                        <h3 class="team-developer">Anastasiia Tkachenko</h3>
                        <p class="team-prof">Developer</p>
                        <ul class="team-social">
                            <li class="team-item-soc">
                                <a href="https://github.com/Anastasiia008" target="_blank" rel="noreferrer noopener" aria-label="GitHub">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-git"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="team-item-soc">
                                <a href="https://www.linkedin.com/in/anastasiia-tkachenko-00633a246/" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-link"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
<!-- sixth -->
                <li class="team-item">
                    <div class="team-img">
                        <img class="team__img team__img--first" srcset="./images/team/irina2.png 2x" src="./images/team/irina.png" alt="Irina" width="120" height="120" />
                    </div>
                    <div class="team-discription">
                        <h3 class="team-developer">Irina Sokolovska</h3>
                        <p class="team-prof">Developer</p>
                        <ul class="team-social">
                            <li class="team-item-soc">
                                <a href="https://github.com/IrynaSokolovska" target="_blank" rel="noreferrer noopener" aria-label="GitHub">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-git"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="team-item-soc">
                                <a href="https://www.linkedin.com" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-link"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
<!-- seventh -->
                <li class="team-item">
                    <div class="team-img">
                        <img class="team__img team__img--first" srcset="./images/team/ivanna2.png 2x" src="./images/team/ivanna.png" alt="Ivanna" width="120" height="120" />
                    </div>
                    <div class="team-discription">
                        <h3 class="team-developer">Ivanna Koval</h3>
                        <p class="team-prof">Developer</p>
                        <ul class="team-social">
                            <li class="team-item-soc">
                                <a href="https://github.com/Ivanna86Koval" target="_blank" rel="noreferrer noopener" aria-label="GitHub">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-git"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="team-item-soc">
                                <a href="https://www.linkedin.com" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-link"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
<!-- eighth -->
                <li class="team-item">
                    <div class="team-img">
                        <img class="team__img team__img--first" srcset="./images/team/nathsha2.png 2x" src="./images/team/natasha.png" alt="Natasha" width="120" height="120" />
                    </div>
                    <div class="team-discription">
                        <h3 class="team-developer">Natasha Koval</h3>
                        <p class="team-prof">Developer</p>
                        <ul class="team-social">
                            <li class="team-item-soc">
                                <a href="https://github.com/KovalNatali" target="_blank" rel="noreferrer noopener" aria-label="GitHub">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-git"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="team-item-soc">
                                <a href="https://www.linkedin.com/in/natasha-koval-b2b700287" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-link"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
<!-- ninth -->
                <li class="team-item">
                    <div class="team-img">
                        <img class="team__img team__img--first" srcset="./images/team/victoria2.png 2x" src="./images/team/victoria.png" alt="Victoria" width="120" height="120" />
                    </div>
                    <div class="team-discription">
                        <h3 class="team-developer">Victoria Kuleshova</h3>
                        <p class="team-prof">Developer</p>
                        <ul class="team-social">
                            <li class="team-item-soc">
                                <a href="https://github.com" target="_blank" rel="noreferrer noopener" aria-label="GitHub">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-git"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="team-item-soc">
                                <a href="https://www.linkedin.com" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-link"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
<!-- tenth -->
                <li class="team-item">
                    <div class="team-img">
                        <img class="team__img team__img--first" srcset="./images/team/mariia2.png 2x" src="./images/team/mariia.png" alt="Mariia" width="120" height="120" />
                    </div>
                    <div class="team-discription">
                        <h3 class="team-developer">Mariia Silina</h3>
                        <p class="team-prof">Developer</p>
                        <ul class="team-social">
                            <li class="team-item-soc">
                                <a href="https://github.com" target="_blank" rel="noreferrer noopener" aria-label="GitHub">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-git"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="team-item-soc">
                                <a href="https://www.linkedin.com" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn">
                                    <svg class="icons" width="40" height="40">
                                        <use href="./images/sprite.svg#icon-link"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    </div>
</div>
</footer>
