<footer class="footer">
    <div class="container footer-content ">
        <div class="footer-team">
                <a class="logo-link" href="./index.html">
                    <svg width="30" height="30">
                        <use href="./images/sprite.svg#logo"></use>
                    </svg>
                    <svg width="133" height="23">
                        <use href="./images/sprite.svg#logo-text"></use>
                    </svg>
                    </a>
            
            <button class="footer-btn" type="submit">
                <svg class="heart-icon" width="20" height="20">
                    <use href="./images/sprite.svg#icon-heart"></use>
                </svg> 
                TEAM
            </button>
        </div>
        <div class="copyright">
            <p class="footer_text">Project Web Team</p>
            <a class="footer-link" href="https://goit.ua/" target="_blank" rel="noreferrer noopener">&nbsp;GoIt Academy</a>
            <p class="footer-text footer-year">&nbsp;2023</p>
    </div>
</footer>