<header class="header">
      <div class="header-nav">
        <nav class="container">
          <a class="header-logo" href="./index.html">
         <span>
        <svg
          class="page-logo-first"
            lang=""
          aria-label="Logo"
           width="24"
          height="24">
          <use href="./images/sprite.svg#logo"></use></svg>
      </a>
      <svg class="page-logo-last"
      lang=""
      aria-label="Logo text 'Book'"
      width="78"
      height="14">
        <use href="./images/sprite.svg#logo-text"></use></svg>
      </span>
          <a class="header-nav-link link" href="./index.html">Home</a>
          <a class="header-nav-link link" href="">Shopping list 
        <svg class="header-nav-link-icon" 
        lang=""
        aria-label="Suitcase icon"
        width="20"
      height="20"><use href="./images/sprite.svg#shopping-list-icon"></use></svg>
    </a>
        </nav>
      </div>
      <div class="theme-sign-up">
        <div>
        <input
          type="checkbox"
          id="themeSwitch"
          name="theme-switch"
          class="theme-switch__input"
        />
        <label for="themeSwitch" class="theme-switch__label">
    <span></span>
  </label>
    </div>
        <button>Sign up</button>
      </div>
</header>
  </body>
</html>