<header class="header">
      <nav class="header-nav"></nav>
        <a class="header-logo" href="./index.html">
        <span class="page-logo"></span>
        <svg
          class="page-logo-first"
          lang=""
          aria-label="Logo"
          width="24"
          height="24"
        >
          <use href="./images/icons.svg#icon-logo"></use></svg></span
      ><svg
        class="page-logo-last"
        lang="en"
        aria-label="Logo text 'Book'"
        width="78"
        height="14"
      >
        <use href="./images/icons.svg#icon-Bookshelf"></use>
      </svg>
        <ul>
          <li><a class="link header-link" href="">Home</a></li>
          <li><a class="link header-link" href="">Shopping list</a></li>
        </ul>
      </nav>
      <button
        class="sign-up-button"
        type="button"
        data-modal-open
        aria-label="sign in"
      >
        <span class="sign-up-button_text">Sign up</span>
        <svg class="sign-up-button_icon" width="20" height="20">
          <use href="./images/icons.svg#golder-arrow-right"></use>
        </svg>
      </button>
    </header>