<div class="backdrop-pop">
  <div class="modal-pop-up">
    <button class="close-btn-modal">
      <svg class="close-btn-modal-icon" width="24" height="24">
        <use href="./images/sprite.svg#close-icon"></use>
      </svg>
    </button>
    <div class="title-author-discrp">
      <img
        class="img-book"
        src="https://storage.googleapis.com/du-prd/books/images/9781984826398.jpg"
        alt="image book"
      />
      <h2 class="title-book-pop-up">HELLO BEAUTIFUL</h2>
      <p class="author">Ann Napolitano</p>
      <p class="discrition-book">
        In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark
        past resurfaces as he gets to the know the family of his college
        sweetheart.
      </p>
    </div>
    <div class="wraper">
      <ul class="resource-shoping">
        <li>
          <a href="">
            <svg class="amazon-icon">
              <use href="/src/images/sprite.svg#amazon-logo"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <img
              class="img-shop-icon"
              src="./images/apple-read-logo.png"
              alt="apple"
            />
          </a>
        </li>
        <li>
          <a href="">
            <img
              class="img-shop-icon"
              src="./images/book-shop-logo.png"
              alt="apple"
            />
          </a>
        </li>
      </ul>
      <button class="btn-add-shop-list js-add" type="button">
        add to shopping
      </button>
      <button class="btn-add-shop-list bth-remove js-remove" type="button">
        remove from the shopping list
      </button>
      <p class="msg-add-shoplist">
        Сongratulations! You have added the book to the shopping list. To
        delete, press the button “Remove from the shopping list”.
      </p>
    </div>
  </div>
</div>
