<section class="container">
    <h1 class="sl-title">Shopping <span class="sl-title-color">List</span></h1>
        <div class="sl-container">
            <ul class="sl-list">
                <li class="sl-list-item">
                    <div class="sl-list-item-info-book">
                        <img class="ls-list-item-img" alt="">
                        <div class="sl-list-item-remove-items-container">
                            <div class="sl-list-text-wrapper">
                                <h2 class="sl-list-item-title">I will find you</h2>
                                <h3 class="sl-list-item-subtitle">Hardcover fiction</h3>
                                <button class="sl-list-item-icon-button">
                                    <svg class="sl-list-item-icon">
                                        <use href="/src/images/sprite.svg#trash-icon"></use>
                                    </svg>
                                </button>
                                <p class="sl-list-item-description">David Burroughs was once a devoted father to his three-year-old son Matthew, living</p>
                            </div>
                            <ul class="sl-list-item-description-container">
                                <li class="sl-list-item-description-list-item">
                                    <h4 class="sl-list-item-container-anthor">Harlan Coben</h4>
                                    <div class="sl-list-item-container-shops">
                                        <picture>
                                            <source srcset="/src/images/amazon-logo.png 1x, /src/images/amazon-logo@2x.png 2x">
                                            <img class="sl-list-item-container-shops-amazon-icon" src="/src/images/amazon-logo.png" alt="amazon-logo">
                                        </picture>
                                        <picture>
                                            <source srcset="/src/images/apple-read-logo.png 1x, /src/images/apple-read-logo@2x-1.png 2x">
                                            <img class="sl-list-item-container-shops-icon sl-list-item-container-shop-responsive" src="/src/images/apple-read-logo.png" alt="apple-read-store">
                                        </picture>
                                        <picture>
                                            <source srcset="/src/images/book-shop-logo.png 1x, /src/images/book-shop-logo@2x.png 2x">
                                            <img class="sl-list-item-container-shops-icon sl-list-item-container-shop-responsive" src="/src/images/book-shop-logo.png" alt="book-store">
                                        </picture>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
</section>