<section class="shopping-list-container">
    <div class="support-ukraine" style="width: 356px;height: 456px;"></div>
    <div>
        <h1 class="sl-title">Shopping <span class="sl-title-color">List</span></h1>
        <div class="sl-container">
            <ul class="sl-list">
                <!---->
            </ul>
        </div> 
        <!-- <div class="sl-empty-container">
            <h1 class="sl-empty-title">This page is empty, add some books and proceed to order.</h1>
            <picture>
                <source srcset="/src/images/shopping-list-empty.png 1x, /src/images/shopping-list-empty@2x.png 2x">
                <img class="sl-empty-img" src="/src/images/shopping-list-empty.png" alt="book-store">
            </picture>
        </div> -->
    </div>
</section>