<section class="support-ukraine-container continer-ukraine">
  <div class="support-ukraine-div">
    <h3 class="support-ukraine-titel">Support Ukraine</h3>
    <svg class="support-ukraine-icon" width="20" >
            <use href="/src/images/sprite.svg#unkraine-emblem"></use>
        </svg>
  </div>
  <div class="support-ukraine-list"></div>
  <div class="section-button-support-ukraine">
    <button type="button" class="ukraine-button">
      <svg class="button-icon-support-ukraine">
              <use href="/src/images/sprite.svg#scroll-up-arrow"></use>
          </svg>
    </button>
</div>
</section>