<!-- <section class="support-ukraine-container">
  <div class="support-ukraine-div">
    <h3 class="support-ukraine-titel">Support Ukraine</h3>
    <svg class="support-ukraine-icon" width="20" >
            <use href="/src/images/sprite.svg#unkraine-emblem"></use>
        </svg>
  </div>
  <ul class="support-ukraine-list">
    <li class="support-ukraine-item">
      <p class="support-counter">01</p>
      <a href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis">
        <picture class="support-ukraine-img-children-logo" >
          <source srcset="/src/images/save-children-logo.png , /src/images/save-children-logo@2x.png"/>
          <img class="support-ukraine-img" src="/src/images/save-children-logo.png" alt="Save the Children"  />
        </picture>
      </a>
    </li>
    <li class="support-ukraine-item">
      <p class="support-counter">02</p>
      <a href="https://www.projecthope.org/country/ukraine">
        <picture class="support-ukraine-img-hope-logo">
          <source srcset="/src/images/project-hope-logo.png, /src/images/project-hope-logo@2x.png" />
          <img class="support-ukraine-img" src="/src/images/project-hope-logo.png" alt="Project HOPE"  />
        </picture>
      </a>
    </li>
    <li class="support-ukraine-item">
      <p class="support-counter">03</p>
        <a href="https://internationalmedicalcorps.org/country/ukraine/">
          <picture>
            <source srcset="/src/images/medical-corps-logo.png, /src/images/medical-logo@2x.png" />
            <img class="support-ukraine-img" src="/src/images/medical-corps-logo.png" alt="International Medical Corps"  />
          </picture>
        </a>
      </li>
    <li class="support-ukraine-item">
      <p class="support-counter">04</p>
        <a href="https://www.razomforukraine.org/">
          <picture>
            <source srcset="/src/images/razom-logo.png, /src/images/razom-logo@2x.png" />
            <img class="support-ukraine-img" src="/src/images/razom-logo.png" alt="RAZOM"   />
          </picture>
        </a>
      </li>
    <li class="support-ukraine-item">
      <p class="support-counter">05</p>
        <a href="https://www.actionagainsthunger.org/location/europe/ukraine/">
          <picture>
            <source srcset="/src/images/against-hunger-logo.png, /src/images/against-hunger-logo@2x-5.png" />
            <img class="support-ukraine-img" src="/src/images/against-hunger-logo.png" alt="Action against hunger"  />
          </picture>
        </a>
      </li>
      <li class="support-ukraine-item">
        <p class="support-counter">06</p>
        <a href="https://prytulafoundation.org/en">
          <picture>
            <source srcset="/src/images/prytula-logo.png, /src/images/prytula-logo@2x-7.png" />
            <img class="support-ukraine-img" src="/src/images/prytula-logo.png" alt="Serhiy Prytula Charity Foundation"  />
          </picture>
        </a>
      </li>
    <li class="support-ukraine-item">
      <p class="support-counter">07</p>
        <a href="https://www.msf.org/ukraine">
          <picture>
            <source srcset="/src/images/medical-logo.png, /src/images/medical-corps-logo@2x.png" />
            <img class="support-ukraine-img" src="/src/images/medical-logo.png" alt="Medicins Sans Frontieres"  />
          </picture>
        </a>
      </li>
    <li class="support-ukraine-item">
      <p class="support-counter">08</p>
        <a href="https://www.wvi.org/emergencies/ukraine">
          <picture>
            <source srcset="/src/images/world-vison-logo.png, /src/images/world-vison-logo@2x.png" />
            <img class="support-ukraine-img" src="/src/images/world-vison-logo.png" alt="World vision"  />
          </picture>
        </a>
      </li>
    <li class="support-ukraine-item">
      <p class="support-counter">09</p>
        <a href="https://u24.gov.ua/uk">
          <picture>
            <source srcset="/src/images/united-logo.png, /src/images/united-logo@2x.png" />
            <img class="support-ukraine-united-img" src="/src/images/united-logo.png" alt="UNITED24" />
          </picture>
        </a>
      </li>
  </ul>
<div class="section-button-support-ukraine">
    <button type="button" class="ukraine-button">
      <svg class="button-icon-support-ukraine">
              <use href="/src/images/sprite.svg#scroll-up-arrow"></use>
          </svg>
    </button>
</div>
</section> -->

<section class="support-ukraine-container">
  <div class="support-ukraine-div">
    <h3 class="support-ukraine-titel">Support Ukraine</h3>
    <svg class="support-ukraine-icon" width="20" >
            <use href="/src/images/sprite.svg#unkraine-emblem"></use>
        </svg>
  </div>
  <div class="support-ukraine-list"></div>
  <div class="section-button-support-ukraine">
    <button type="button" class="ukraine-button">
      <svg class="button-icon-support-ukraine">
              <use href="/src/images/sprite.svg#scroll-up-arrow"></use>
          </svg>
    </button>
</div>
</section>